body{
    background-color: white;
    margin: 0;
    
    font-family: 'source sans pro', sans-serif;
    color: #fff;
}
header {
  background-image: url(https://media.istockphoto.com/id/1219694008/it/video/mare-di-mani-ad-una-festa-da-concerto.jpg?s=640x640&k=20&c=0JUYkOF9IJwMc9F7CsLXprBambcTELhpioWSbYBbZQo=);
  height: 500px;
}
 
.ricerca{
    display: flex;
    justify-self: start;
}
form{
    color: #000;
    display: flex;
    margin-top:10px;
    margin-left: 10px;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  .navbar {
    
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
  }
  
  .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #ff5252;
    transition: width 0.3s, background-color 0.3s;
  }
  
  .navbar li:hover .underline,
  .navbar li.active .underline {
    width: 100%;
  }
  
  .navbar li a:hover {
    color: #ff5252;
    transform: translateY(-3px);
  }
  
  .navbar li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }
  
  .navbar li a:hover:before {
    transform: scaleX(1);
  }
  
  .navbar li.active a {
    color: #ff5252;
  }
  
  .navbar li.active a:before {
    transform: scaleX(1);
  }
  
nav_logo{
    height: 40px;
    width: auto;
}
#nav text-end{
    cursor: pointer;
    letter-spacing: 2px;
    align-items: end;
}
 /*footer{
    height: 30px;
    background-color: black;
 }*/
 #social .b{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    align-items: end;
    border: 2px solid white;
  }
  footer{
    background-color: #000;
    padding: 50px 0 20px;
  }
  
  footer nav{
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 500px) {
    footer nav {
      margin: 0 30px;
    }
  }
  
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  @media (max-width: 500px) {
    .footer-container {
      flex-direction: column;
    }
  }
  
  .footer-col{
    padding: 0 15px;
    height: 100%;
  }
  
  @media (max-width: 500px) {
    .footer-col {
      margin-bottom: 30px;
      padding: 0;
    }
  }
  
  footer h1{
    font-size: 36px;
    margin: 0;
    margin-bottom: 15px;
  }
  
  .footer-col strong{
    display: flex;
    color: #919496;
    font-size: 16px;
    margin: 20px 0;
  }
  
  .footer-col p{
    font-size: 18px;
    padding: 3px 0 15px;
    margin: 0;
  }
  #form_musica{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 77%;
    background: linear-gradient(to right top, rgb(0, 0, 0), rgba(165, 165, 165, 0.568));
    border-radius: 20px;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
  } 
  h2{
    margin-top:0;
  } 
  #form_musica div{
    display: flex;
    align-items: center;
  }
  #logo{
    height: max-content;
    width: 300px;
  }
  .api_spotify p{
    font-size: 40px;
    margin: 0;
  } 
  #album{
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 30px;
    width: 300px;
    height: 40px;
  } 
  #submit{
    background-image: url("imageshw1/cerca.png");
    background-color: rgb(58, 197, 58);
    background-position: center;
    background-size: cover;
    margin-left: 5px;
    border: 1px solid transparent;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    transition: .5s ease-in-out;
  }
  #submit:hover{
    opacity: 0.7;
  } 
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    color: rgb(255, 255, 255);
  } 
  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: linear-gradient(to right top, rgb(0, 0, 0), rgba(165, 165, 165, 0.568));
    font-weight: bold;
    border-radius: 30px;
    width: 30%;  
    transition: .5s ease-in-out;
  }  
  .album img{
    width: 90%;
    margin: 15px;
    border-radius: 20px;
  }  
  .album a{
    color: white;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  .album:hover{
    background-color: rgb(58, 197, 58);
  }